.holder {
    width: 900px;
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: cyan;
    border-radius: 50px 50px 0 0;
    border: 3px solid black;
    flex-wrap: wrap;
}

.item {
    flex-grow: 1;
    color: #0A3853;
    font-family: Robot sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:nth-child(1) {
    flex-grow: 2;
    background-color: red;
    order: -2;
    border-radius: 47px 0 0;
    width: 450px;
}

.item:nth-child(5) {
    flex-grow: 2;
    background-color: orange;
    order: -1;
    border-radius: 0 45px 0 0;
    width: 450px;
}

.item:nth-child(2) {
    background-color: blue;
    order: 2;
}

.item:nth-child(3) {
    background-color: violet;
    order: 1;
}

.item:nth-child(4) {
    background-color: green;
    order: 3;
}